@model Security.Domain.DTO.RoleAction.RoleActionSearchModel

<div id="dvSearchBox">
    @await Component.InvokeAsync("RoleActionSearchBox", this.Model)
</div>

<span class="btn btn-primary" id="btnOpenAddModalForm">Add form</span>
<div id="dvContentRoleActionList">
    @await Component.InvokeAsync("RoleActionList",this.Model)
</div>

@*modal*@
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModalRoleAction">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="dvContentRoleAction"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnOpenAddModalForm").click(function () {
            var sendingUrl = '@Url.Action("AddNew","RoleActionManagement")';
            var sendingData = $("#frmRoleActionSearchBox").serialize();
            $.get(sendingUrl, sendingData, function (rd) {
                $("#myModalRoleAction").modal('show');
                $("#dvContentRoleAction").html(rd);
            });
        });
    });
    $(document).on("click", "#btnAddNewRoleAction", function () {
        var sendingUrl = '@Url.Action("AddNewRoleAction","RoleActionManagement")';
        var sendingData = $("#addNewRoleActionForm").serialize();
        $.post(sendingUrl, sendingData, function (op) {
            if (op.success.toString() == "true") {
                $("#myModalRoleAction").modal("hide");
                SuccessMessage(op.message);
                BindGrid();
                RefreshSearchBox();
            }
            else {
                ErrorMessage(op.message);
            }
        });
    });

    $(document).on("keyup", "#RoleName", function () {
        BindGrid();
    });
    $(document).on("keyup", "#ProjectActionName", function () {
        BindGrid();
    });
    function BindGrid() {
        var sendingUrl = '@Url.Action("RoleActionList","RoleActionManagement")';
        var sendingData = $("#frmRoleActionSearchBox").serialize();;
        $.get(sendingUrl, sendingData, function (grd) {
            $("#dvContentRoleActionList").html(grd);
        });
    };
    function RefreshSearchBox() {
        var sendingUrl = '@Url.Action("RoleActionSearchBox","RoleActionManagement")';
        var sendingData = $("#frmRoleActionSearchBox").serialize();
        $.get(sendingUrl, sendingData, function (frmSearch) {
            $("#dvSearchBox").html(frmSearch);
        });
    }
    $(document).on("click", ".btnDeleteRoleAction", function () {
        var name = $(this).attr("data-name");
        if (confirm(`آیا از حذف ${name} مطمئن هستید ؟`)) {
            var id = $(this).attr("data-id");
            var sendingData = "id=" + id;
            var sendingUrl = '@Url.Action("DeleteRoleAction","RoleActionManagement")';
            $.post(sendingUrl, sendingData, function (op) {
                if (op.success.toString() == "true") {
                    var rowID = "#tr_" + id;
                    $(rowID).slideUp(500);
                    BindGrid();
                }
                else {
                    ErrorMessage(op.message);
                }
            });
        }

    });

    @*Sweet Alert functions*@
        function SuccessMessage(SuccessTxt) {
            Swal.fire({
                icon: 'success',
                title: 'وضعیت ثبت',
                text: SuccessTxt,
            });
        }
    function ErrorMessage(ErrorTxt) {
        Swal.fire({
            icon: 'error',
            title: 'خطا',
            text: ErrorTxt,
        });
    }
</script>


